YOUTUBE_VIDEOS_API_KEY=
YOUTUBE_COMMENTS_API_KEY=
YOUTUBE_STATS_API_KEY=

MLFLOW_TRACKING_URI=sqlite:///mlflow.db
MLFLOW_REGISTRY_URI=sqlite:///mlflow.db

REDDIT_DATASET_PATH=
DATA_OUTPUT_PATH=sentiment_analysis_data.parquet
BASELINE_DATASET_PATH=sentiment_analysis_data.parquet
PREDICTION_LOGS_PATH=prediction_logs.csv
FASTAPI_BASE_URL=http://localhost:8000
